# Игнорировать исполняемые файлы
*.exe
*.out
*.app

# Игнорировать объектные файлы
*.o
*.obj

# Игнорировать временные файлы
*.tmp
*.log

# 
*.gcda
*.gcno
*.gcov
coverage.info
coverage_html/
music_shop_tests
.DS_Store
